.steps
  margin-top: -9rem
  &__col
    &-1, &-2
      border: 1px solid green
      max-width: 50%
    &-1
    &-2
  &__title
    margin: 0
    text-align: left
    margin-bottom: 6.571rem
    max-width: 19.071rem
    font-size: 1.928rem
    line-height: 2.642rem
  &__subtitle
    display: block
    text-align: left
    font-family: 'Futura Book'
    font-style: normal
    font-weight: 500
    font-size: 1.071rem
    line-height: 1.5rem
    text-transform: uppercase
    margin-bottom: 1.285rem
  &__slider
    &-counter
      margin-bottom: 6.571rem
    &-text
      font-style: normal
      font-weight: normal
      font-size: 1.071rem
      line-height: 1.285rem
    &-item
      &--hide
        display: none !important
  &__slide
    &-header
      max-width: 11.571rem
      font-family: 'Yeseva One', cursive
      font-style: normal
      font-weight: normal
      font-size: 1.071rem
      line-height: 1.643rem
      text-transform: uppercase
      color: $primary
      margin-bottom: 1.142rem
    &-text
      max-width: 24.071rem
      font-size: 1.071rem
      line-height: 1.786rem
  .steps__slider-nav
    width: 100%